$header-height: 96px;
$header-mobile-height: 51px;
$aside-width: 134px;
$aside-width-active: 389px;
$main-margin: 105px;
$main-mobile-margin: 22px;
$aside-menu-padding: 54px;
$aside-circle-radius: 303px;
$aside-circle-inner-radius: 175px;
$swiper-projects-margin: 74px;