{# BLOCK: HERO #}
<section class="section section-hero">
    <div class="hero">
        {% if content.media|default and content.media.type.name == 'image' %}
            <div class="hero__media-image-wrapper">
                <img class="hero__media-image" src="{{ content.media.url }}" alt="">
            </div>
        {% endif %}
    </div>
</section>