@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "Bradley Hand";
  src: url("../../../font/Bradley/BRADHI.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Graphik;
  src: url("../../../font/Graphik/GraphikLight.otf");
  font-weight: 300;
}
@font-face {
  font-family: Graphik;
  src: url("../../../font/Graphik/GraphikRegular.otf");
  font-weight: 400;
}
@font-face {
  font-family: Graphik;
  src: url("../../../font/Graphik/GraphikBold.otf");
  font-weight: 900;
}
/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Graphik", "sans-serif";
  background-color: #f9f9f9;
}
body.no-scroll {
  overflow: hidden;
}

a {
  color: #c8164b;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Commons
--------------------------------------------------------------*/
.section {
  height: 100%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.section .section__row {
  height: 100%;
}
@media (max-width: 992px) {
  .section .section__row {
    align-content: flex-start;
  }
}
@media (max-width: 768px) {
  .section .section__row {
    height: auto;
  }
}

.btn {
  padding: 10px 85px;
  border-radius: 0;
  white-space: nowrap;
}
.btn--primary {
  background-color: #e82e65;
  color: #fff;
  transition: all 0.3s;
  border-radius: 20px;
}
.btn--primary:hover {
  background-color: #c8164b;
  color: #fff;
  -webkit-text-stroke: 0.5px #fff;
}
.btn--secondary {
  background-color: #fff;
  color: #e82e65;
  transition: all 0.3s;
}
.btn--secondary:hover {
  background-color: #cccccc;
  color: #e82e65;
  -webkit-text-stroke: 0.5px #e82e65;
}
@media (max-width: 1200px) {
  .btn {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: absolute;
  top: 0;
  height: 96px;
  width: calc(100vw - 134px);
  pointer-events: none;
  z-index: 999;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  pointer-events: none;
  transition: all 0.3s;
}
@media (max-height: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .header {
    position: fixed;
  }
}
@media (max-width: 1200px) {
  .header {
    width: 100svw;
    display: flex;
    align-items: center;
  }
}
.header.header-scrolled:before {
  height: 100%;
  border-bottom: 1px solid #b3b3b3;
  background-color: rgba(249, 249, 249, 0.95);
}
.header.header-scrolled ~ .aside .aside__menu-logo,
.header.header-scrolled ~ .aside .aside__menu-button {
  filter: brightness(1) invert(0);
}
.header .header__logo {
  /* margin-left: 22px; */
  position: absolute;
  left: 114px;
  bottom: 0;
  pointer-events: auto;
  width: 100px;
}
.header .header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .header .header__logo {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .header__logo {
    bottom: unset;
    left: 22px;
  }
}
@media (max-height: 768px) {
  .header .header__logo {
    left: 22px;
    bottom: unset;
  }
}
@media (max-width: 992px) {
  .header.header--projects .header__logo {
    filter: brightness(0) invert(1);
  }
}

/*--------------------------------------------------------------
# Aside
--------------------------------------------------------------*/
.aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100svh;
  width: 134px;
  border-left: 1px solid #b3b3b3;
  /* background-color: #f9f9f9; */
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: width 0.3s, background-color 0.3s, border-color 0.3s;
}
@media (max-width: 768px) {
  .aside {
    width: 100svw;
    height: 0;
    transition: background-color 0.3s, height 0.3s;
    left: 0;
  }
}
.aside .aside__menu-top {
  position: relative;
  height: 96px;
  min-height: 96px;
}
@media (max-width: 1200px) {
  .aside .aside__menu-top {
    display: flex;
    align-items: center;
  }
}
@media (max-height: 768px) {
  .aside .aside__menu-top {
    display: flex;
    align-items: center;
  }
}
.aside .aside__menu-bottom {
  position: relative;
  flex-grow: 1;
  display: flex;
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 54px;
  padding-right: 54px;
  overflow: hidden;
  pointer-events: none;
}
@media (max-width: 1200px) {
  .aside .aside__menu-bottom {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .aside .aside__menu-bottom {
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media (max-height: 768px) {
  .aside .aside__menu-bottom {
    padding-bottom: 22px;
  }
}
.aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.aside ul a {
  display: block;
  text-decoration: none;
  color: #575757;
  transition: all 0.3s;
}
.aside ul a:hover {
  color: #e82e65 !important;
}
.aside ul a.active {
  font-weight: 900;
  pointer-events: none;
}
.aside .aside__menu-logo {
  position: absolute;
  left: 22px;
  display: none;
  width: 100px;
}

.aside .aside__menu-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .aside .aside__menu-logo {
    display: block;
  }
}
.aside .aside__menu-button {
  position: absolute;
  right: 53px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .aside .aside__menu-button {
    bottom: unset;
  }
}
@media (max-width: 768px) {
  .aside .aside__menu-button {
    right: 22px;
  }
}
@media (max-height: 768px) {
  .aside .aside__menu-button {
    bottom: unset;
  }
}
.aside .aside__menu-button span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  /* background-color: #e82e65; */
  background-color: white;
  transition: all 0.3s;
}
.aside .aside__menu-button.active span:first-of-type {
  transform: translate(0, 8px) rotate(45deg);
}
.aside .aside__menu-button.active span:nth-last-of-type(2) {
  transform: scaleX(0);
  opacity: 0;
}
.aside .aside__menu-button.active span:last-of-type {
  transform: translate(0, -8px) rotate(-45deg);
}
.aside .aside__menu-pages ul {
  gap: 31px;
}
@media (max-height: 400px) {
  .aside .aside__menu-pages ul {
    gap: 16px;
  }
}
.aside .aside__menu-pages a {
  width: max-content;
  font-size: 20px;
  font-weight: 400;
  color: #575757;
}
.aside__menu-social-network-li {
  margin-top: 85px;
}
.aside .aside__menu-social-network {
  gap: 15px;
  color: white !important;
  display: flex;
  flex-direction: column;
}

.aside .aside__menu-social-network a {
  font-weight: 600;
  font-size: 22px;
  font-size: 26px;
  line-height: 0;
  color: #fff;
}

.aside .aside__menu-language a {
  color: #fff;
  text-transform: uppercase;
}

.aside .aside__menu-language.dark a {
  color: #575757;
}

.aside .aside__menu-language a.active {
  font-weight: 600;
}

.aside .aside__menu-language a:active {
  font-weight: 600;
}
.aside .aside__menu-language {
  font-size: 20px;
  /* font-weight: 600; */
  position: absolute;
  align-self: center;
  right: 54px;
  pointer-events: auto;
}
@media (max-width: 768px) {
  .aside .aside__menu-language {
    align-self: flex-start;
    right: 22px;
  }
}
.aside .aside__menu-language ul {
  gap: 16px;
}
@media (min-width: 768px) {
  .aside .aside__menu-language ul {
    opacity: 1;
    pointer-events: auto;
  }
}
.aside.active {
  width: 389px;
  border-color: #d1d1d1;
  background-color: #d1d1d1 !important;
}
@media (max-width: 768px) {
  .aside.active {
    width: 100svw;
    left: 0;
    height: 100svh;
  }
}
.aside.active .aside__menu-bottom {
  pointer-events: auto;
}
@media (max-height: 768px) {
  .aside.active .aside__menu-bottom {
    overflow: scroll;
  }
}
.aside.active ul {
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 992px) {
  .aside.aside--projects .aside__menu-logo {
    filter: brightness(0) invert(1);
  }
}
@media (max-width: 768px) {
  .aside.aside--projects .aside__menu-button {
    right: 22px;
    filter: brightness(0) invert(1);
  }
}
.aside.aside--projects.active .aside__menu-button,
.aside.aside--projects.active .aside__menu-logo {
  filter: brightness(1) invert(0);
}

/*--------------------------------------------------------------
# Aside Circle Navigation
--------------------------------------------------------------*/
.aside-circle-nav {
  position: fixed;
  top: 0;
  width: 303px;
  height: 100svh;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .aside-circle-nav {
    display: none;
  }
}
.aside-circle-nav .aside-circle-nav__circle {
  position: absolute;
  left: -100%;
  width: 606px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-circle-nav .aside-circle-nav__circle:before {
  content: "";
  position: absolute;
  width: 175px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #e82e65;
}
.aside-circle-nav .aside-circle-nav__navigation {
  position: absolute;
  left: 106.5px;
  width: calc(50% + 44px);
}
.aside-circle-nav .aside-circle-nav__navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.aside-circle-nav .aside-circle-nav__navigation li {
  position: relative;
  display: flex;
  align-items: center;
}
.aside-circle-nav .aside-circle-nav__navigation li a:before {
  content: "";
  position: absolute;
  right: 0;
  width: 21px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #e82e65;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(1) {
  left: -38px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(1) a:before {
  right: -35px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(2) {
  left: -12px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(2) a:before {
  right: -20px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(3) {
  left: 0;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(3) a:before {
  right: -12px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(4) {
  left: -12px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(4) a:before {
  right: -20px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(5) {
  left: -38px;
}
.aside-circle-nav .aside-circle-nav__navigation li:nth-of-type(5) a:before {
  right: -35px;
}
.aside-circle-nav .aside-circle-nav__navigation a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: #575757;
  font-size: 20px;
  line-height: normal;
  transition: all 0.3s;
}
.aside-circle-nav .aside-circle-nav__navigation a:hover {
  color: #e82e65;
  -webkit-text-stroke: 0.5px #e82e65;
}
.aside-circle-nav .aside-circle-nav__navigation a:hover:before {
  opacity: 1 !important;
}
.aside-circle-nav .aside-circle-nav__navigation a.active {
  font-weight: 900;
  pointer-events: none;
}
.aside-circle-nav .aside-circle-nav__navigation a.active:before {
  opacity: 1;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.main {
  height: 100%;
  min-height: 100svh;
  width: calc(100vw - 134px);
  padding-top: 150px;
  padding-left: 105px;
}

.background-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 0;
}
.background-image.bg-image--projects {
  width: 100dvw;
  height: 100dvh;
}

.main.main--homepage {
  width: calc(100vw - 134px);
}
@media (max-height: 768px) {
  .main.main--homepage {
    padding-left: 22px;
  }
}
@media (max-width: 768px) {
  .main.main--homepage {
    width: 100svw;
  }
}
@media (max-width: 1200px) {
  .main.main--homepage {
    padding-left: 0;
  }
}
.main.main--projects {
  position: relative;
  left: 303px;
  width: calc(100vw - 134px - 303px);
}
@media (max-width: 1200px) {
  .main.main--projects {
    padding-left: 105px;
    padding-right: 22px;
  }
}
@media (max-width: 992px) {
  .main.main--projects {
    left: 0;
    width: calc(100vw - 134px);
    min-height: 100svh;
    margin-top: 0;
    padding: 0;
    padding-top: 96px;
    background-color: #d9d9d9;
    background-image: url("../../../website/img/bg-projects.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main.main--projects:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 768px) {
  .main.main--projects {
    width: 100svw;
  }
}
@media (max-height: 768px) {
  .main.main--columns {
    padding-left: 22px;
  }
}
@media (max-width: 1200px) {
  .main.main--columns {
    height: 100svh;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .main.main--columns {
    padding-top: 100px;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .main.main--columns {
    width: 100svw;
  }
}
.main.main--data-policy {
  width: calc(100vw - 134px);
}

.main--data-policy .section-breadcrumb a {
  color: #c8164b;
}

@media (max-height: 768px) {
  .main.main--data-policy {
    padding-left: 22px;
  }
  .main.main--data-policy .section-breadcrumb {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .main.main--data-policy {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .main.main--data-policy {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .main {
    height: auto;
    padding-top: 100px;
  }
}
/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
.location {
  color: #fff;
  text-align: center;
  font-family: "Bradley Hand";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}
.section-homepage .right-col {
  overflow: hidden;
}
.section-homepage .right-col .right-col-image-container {
  position: relative;
  height: 600px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-homepage .right-col-image-container .right-col-image {
  display: flex;
  align-items: center;
  position: absolute;
  animation: fadeIn 2s ease forwards;
}

.section-homepage .right-col-image.top {
  top: 15px;
  left: 0;
}
.section-homepage .right-col-image.center {
  top: 34%;
  left: 65%;
}
.section-homepage .right-col-image.bottom {
  bottom: 10px;
  left: 30px;
}
.section-homepage .main--homepage-line {
  height: 40%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.section-homepage .section-homepage__title .section-homepage__contact p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section-homepage .section__col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  padding-right: 22px;
}
.section-homepage .section__col:first-of-type {
  padding-left: 0;
}
@media (max-height: 576px) {
  .section-homepage .section__col:first-of-type {
    padding-top: 118px;
    justify-content: flex-start;
  }
}
@media (max-width: 1200px) {
  .section-homepage .section__col:first-of-type {
    padding-left: 22px;
    padding-top: 42px;
  }
  .aside .aside__menu-button span {
    background-color: #e82e65 !important;
  }
  .main--homepage {
    padding-bottom: 20px;
  }
}
@media (max-width: 1366) {
  .main--homepage {
    padding-bottom: 150px;
  }
}
.section-homepage .section__col:last-of-type {
  padding-top: 22px;
  padding-bottom: 22px;
}
@media (max-width: 1200px) {
  .section-homepage .section__col:last-of-type {
    padding-top: 0;
  }
}
.section-homepage .section-homepage__title {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 41px;
}
@media (max-width: 1200px) {
  .section-homepage .section-homepage__title {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .section-homepage .section-homepage__title {
    gap: 22px;
  }

  .location {
    font-size: 20px;
    white-space: unset;
  }
}
.section-homepage .section-homepage__title h1 {
  margin-bottom: 0;
  /* color: #575757; */
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
}
@media (max-width: 768px) {
  .section-homepage .section-homepage__title h1 {
    font-size: 28px;
  }
  .main--homepage {
    padding-bottom: 20px;
  }
}
@media (max-height: 768px) {
  .section-homepage .section-homepage__title h1 {
    font-size: 28px;
  }
}
.section-homepage .section-homepage__title .section-homepage__contact {
  width: fit-content;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}
@media (max-width: 768px) {
  .section-homepage .section-homepage__title .section-homepage__contact {
    width: 100%;
  }
}
.section-homepage .section-homepage__contact-icons {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-homepage .section-homepage__location {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section-homepage .section-homepage__location-item {
  position: relative;
  height: 50%;
  padding: 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-homepage .section-homepage__location-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.section-homepage .section-homepage__location-item:first-of-type {
  margin-bottom: 22px;
}
.section-homepage .section-homepage__location-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-homepage .section-homepage__info {
  position: relative;
  width: 387px;
  max-width: 387px;
  padding: 31px 26px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
@media (max-width: 768px) {
  .section-homepage .section-homepage__info {
    width: 100%;
    margin: 0 13px;
  }
}

.section-homepage .section-homepage__text {
  color: #fff;
  font-size: 16px;
  line-height: normal;
}
.section-homepage .section-homepage__map {
  margin-top: 31px;
}
.section-homepage .section-homepage__map iframe {
  position: relative;
  bottom: -7px;
  width: 100%;
  height: 173px;
}
@media (max-width: 400px) {
  .section-homepage .section-homepage__map iframe {
    height: 120px;
  }
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

.section-breadcrumb {
  color: #fff;
  font-family: Graphik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 57px;
  position: relative;
}
.section-breadcrumb a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .section-breadcrumb {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .section-breadcrumb {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.section-projects .headline {
  color: #fff;
  font-family: Graphik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-projects .link {
  color: #fff;
  font-family: Graphik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.logo-placeholder {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  max-width: 160px;
  background-color: #f8f9fa85;
}

.logo-placeholder.swiper-slide a {
  width: 100%;
  height: 100%;
}

.logo-placeholder img {
  max-width: 100%;
  max-height: 100%;
}
.logo-placeholder.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 5px;
}
.logo-subtitle {
  color: #fff;
  text-align: center;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.image-stack {
  position: relative;
  width: 415px;
  height: 380px;
}

.image-item {
  position: absolute;
}

.image-item-1 {
  top: 0;
  left: 0;
  z-index: 2;
}

.image-item-2 {
  top: 30%;
  left: -7%;
  z-index: 4;
}

.image-item-3 {
  top: 45%;
  left: 30%;
  z-index: 3;
}
.projects {
  margin-left: 25px;
}
.section-projects .main-paragraf-projects {
  max-width: 90% !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  color: white !important;
}
.section-projects .section__col {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding-right: 22px;
  padding-left: 22px;
}
.section-projects .section__col:first-child {
  padding-left: 0;
}

@media (max-width: 1200px) {
  .section-projects .section__col:first-child {
    padding-left: 22px;
  }
}
.section-projects .btn-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  border-radius: 40px;
}
.section-projects .btn-projects-two {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #fff;
}
@media (max-height: 768px) {
  .section-projects .section__col {
    max-height: 100%;
  }
}
@media (max-width: 768px) {
  .section-projects .section__col {
    gap: 22px;
  }
}
.section-projects .section__col:first-of-type {
  /* max-width: 300px; */
  overflow: scroll;
}
@media (max-width: 1200px) {
  .section-projects .section__col:first-of-type {
    max-width: 100%;
    /* padding-left: 0; */
  }
}
@media (max-width: 992px) {
  .section-projects .section__col:first-of-type {
    padding-left: 22px;
    z-index: 1;
  }
}
.section-projects .section__col:last-of-type {
  flex-grow: 1;
  position: relative;
  height: 100%;
  padding: 0;
  align-items: center;
  /* background-image: url("../../../website/img/bg-projects.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}
@media (max-width: 992px) {
  .section-projects .section__col:last-of-type {
    background-image: none;
  }
}
@media (max-width: 1400px) {
  .section-projects .section__col:last-of-type {
    padding: 22px;
  }
}
.section-projects .section__col:last-of-type:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
@media (max-width: 992px) {
  .section-projects .section__col:last-of-type:before {
    display: none;
  }
}
.section-projects .section-projects__title {
  /* max-width: 300px; */
}
.section-projects .section-projects__title h2 {
  margin-bottom: 48px;
  color: #575757;
  font-size: 40px;
  line-height: normal;
}
@media (max-width: 1200px) {
  .section-projects .section-projects__title h2 {
    margin-bottom: 32px;
  }
}
@media (max-width: 992px) {
  .section-projects .section-projects__title h2 {
    color: #fff;
  }
}
@media (max-width: 768px) {
  .section-projects .section-projects__title h2 {
    font-size: 20px;
  }
}
@media (max-height: 768px) {
  .section-projects .section-projects__title h2 {
    font-size: 20px;
  }
}
.section-projects .section-projects__title .section-projects__description {
  color: #575757;
  line-height: normal;
}
@media (max-width: 992px) {
  .section-projects .section-projects__title .section-projects__description {
    color: #fff;
  }
}
@media (max-width: 992px) {
  .section-projects .section-projects__title {
    padding-top: 32px;
  }
}
@media (max-width: 768px) {
  .section-projects .section-projects__title h2 {
    font-size: 28px;
  }
  .section-projects .section-projects__title {
    padding-top: 16px;
  }
}
.section-projects .section-projects__preview {
  width: 100%;
  padding-left: 74px;
  padding-right: 74px;
  z-index: 1;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
  .image-item-1 {
    transform: scale(1);
  }

  .image-item-2 {
    transform: scale(1);
  }

  .image-item-3 {
    transform: scale(1);
    left: 94%;
  }
  .image-container--projects {
    padding: 10px;
  }
}
@media (max-width: 1400px) {
  .section-projects .section-projects__preview {
    padding-left: 22px;
    padding-right: 22px;
  }
}
.section-projects .section-projects__preview img {
  width: 60%;
  object-fit: cover;
}
.section-projects .section-projects__slider {
  max-width: 100%;
}
.section-projects .section-projects__slider .swiper {
  width: 60%;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .section-projects .section-projects__slider .swiper {
    width: 75%;
  }
}

@media (max-width: 1199px) {
  .section-projects .section-projects__slider .swiper {
    width: 55%;
  }
}

@media (max-width: 576px) {
  .section-projects .section-projects__slider .swiper {
    width: 75%;
  }
}

.section-projects .section-projects__slider .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.section-projects .section-projects__slider .swiper-slide {
  max-height: 130px;
  height: auto;
}
.section-projects .section-projects__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-projects .section-projects__slider .swiper-slide.swiper-slide-next {
  margin-right: 74px !important;
}
@media (max-width: 1400px) {
  .section-projects .section-projects__slider .swiper-slide.swiper-slide-next {
    margin-right: 22px !important;
  }
}
.section-projects .section-projects__slider .swiper-button-prev,
.section-projects .section-projects__slider .swiper-button-next {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #e82e65;
  margin: 0;
  transform: translateY(-50%);
  transition: all 0.1s;
}
.section-projects .section-projects__slider .swiper-button-prev:after,
.section-projects .section-projects__slider .swiper-button-next:after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.section-projects .section-projects__slider .swiper-button-prev:hover,
.section-projects .section-projects__slider .swiper-button-next:hover {
  transform: translateY(-50%) scale(1.15);
}
.section-projects .section-projects__slider .swiper-button-prev:active,
.section-projects .section-projects__slider .swiper-button-next:active {
  transform: translateY(-50%) scale(1);
}

.section-projects .section-projects__slider .swiper-button-prev:after {
  background-image: url("../../../website/img/arrow-left-light.svg");
  background-position: 7px center;
}

.section-projects .section-projects__slider .swiper-button-next:after {
  background-image: url("../../../website/img/arrow-right-light.svg");
  background-position: 10px center;
}

.section-projects .section-projects__slider .swiper-button-prev {
  left: calc(20% - 40px);
}
.section-projects .section-projects__slider .swiper-button-next {
  right: calc(20% - 40px);
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .section-projects .section-projects__slider .swiper-button-prev {
    left: calc(13% - 40px);
  }
  .section-projects .section-projects__slider .swiper-button-next {
    right: calc(13% - 40px);
  }
}

@media (max-width: 576px) {
  .section-projects .section-projects__slider .swiper-button-prev {
    left: calc(13% - 40px);
  }
  .section-projects .section-projects__slider .swiper-button-next {
    right: calc(13% - 40px);
  }
}

/* .section-projects .section-projects__references .swiper-wrapper {
  transition-timing-function: linear;
} */

/*--------------------------------------------------------------
# Imprint
--------------------------------------------------------------*/
.main-imprint {
  height: 100%;
  width: calc(100vw - 134px);
  padding-top: 150px;
  padding-left: 105px;
  position: relative;
}

.section-imprint {
  min-height: calc(100svh - 150px);
  background-color: #575757;
}
.main-imprint .section-breadcrumb {
  color: #fff;
  font-family: Graphik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 57px;
  position: relative;
}
.main-imprint .section-breadcrumb a {
  text-decoration: none;
  color: #c8164b;
}

@media (max-width: 768px) {
  .main-imprint {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    padding-top: 100px;
  }
  .main-imprint .section-breadcrumb {
    font-size: 16px;
  }
}

.section-imprint .section__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 22px;
  padding-left: 22px;
}
@media (max-height: 768px) {
  .section-imprint .section__col {
    max-height: 100%;
  }
}
.section-imprint .section__col:first-of-type {
  max-height: 100svh;
  padding-left: 0;
  background-color: #f9f9f9;
  overflow: scroll;
}
@media (max-height: 576px) {
  .section-imprint .section__col:first-of-type {
    padding-top: 96px;
  }
}
@media (max-width: 992px) {
  .section-imprint .section__col:first-of-type {
    padding-top: 0;
  }
}
@media (max-width: 1200px) {
  .section-imprint .section__col:first-of-type {
    padding-left: 22px;
  }
}
.section-imprint .section__col:last-of-type {
  flex-grow: 1;
  position: relative;
  top: -150px;
  padding: 22px 71px;
  color: #fff;
  overflow: scroll;
  background-color: #575757;
}

.section-imprint .section__col:last-of-type .section-imprint__text {
  margin-top: 128px;
}
@media (max-width: 1200px) {
  .section-imprint .section__col:last-of-type {
    padding: 22px;
  }
}
@media (max-width: 992px) {
  .section-imprint .section__col:last-of-type {
    padding: 22px;
    justify-content: flex-start;
    top: 0;
  }

  .section-imprint .section__col:last-of-type .section-imprint__text {
    margin-top: 0;
  }
}
@media (max-height: 576px) {
  .section-imprint .section__col:last-of-type {
    justify-content: flex-start;
  }
}
.section-imprint .section-imprint__title {
  max-width: 300px;
  margin-bottom: 25svh;
}
@media (max-width: 992px) {
  .section-imprint .section-imprint__title {
    margin-bottom: 0;
    padding-top: 32px;
  }
}
@media (max-width: 768px) {
  .section-imprint .section-imprint__title {
    max-width: 100%;
    padding-top: 16px;
  }
}
@media (max-height: 768px) {
  .section-imprint .section-imprint__title {
    margin-bottom: 0;
  }
}
.section-imprint .section-imprint__title h2 {
  margin-bottom: 70px;
  color: #575757;
  font-size: 40px;
  line-height: normal;
  font-weight: 900;
}
@media (max-width: 768px) {
  .section-imprint .section-imprint__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
}
@media (max-height: 768px) {
  .section-imprint .section-imprint__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
}
.section-imprint .section-imprint__title .section-imprint__description {
  color: #575757;
  line-height: normal;
}
.section-imprint .section-imprint__text h3 {
  margin-top: 60px;
  margin-bottom: 34px;
  font-size: 40px;
  font-weight: 900;
  line-height: normal;
}
.section-imprint .section-imprint__text h3:first-of-type {
  margin-top: 0;
}
@media (max-width: 768px) {
  .section-imprint .section-imprint__text h3 {
    font-size: 20px;
  }
}
.section-imprint .section-imprint__text p {
  line-height: normal;
}

/*--------------------------------------------------------------
# Jobs
--------------------------------------------------------------*/
.section-jobs {
  min-height: calc(100svh - 150px);
  background-color: #575757;
}
.section-jobs .section__row {
  min-height: calc(100svh - 150px);
}

.section-jobs .section-breadcrumb a {
  color: #c8164b;
}
.section-jobs .section__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 22px;
  padding-left: 22px;
}
@media (max-height: 768px) {
  .section-jobs .section__col {
    max-height: 100%;
  }
}
.section-jobs .section__col:first-of-type {
  max-height: 100svh;
  padding-left: 0;
  background-color: #f9f9f9;
  overflow: scroll;
}
@media (max-height: 576px) {
  .section-jobs .section__col:first-of-type {
    padding-top: 96px;
  }
}
@media (max-width: 992px) {
  .section-jobs .section__col:first-of-type {
    padding-top: 0;
  }
}
@media (max-width: 1200px) {
  .section-jobs .section__col:first-of-type {
    padding-left: 22px;
  }
}
.section-jobs .section__col:last-of-type {
  flex-grow: 1;
  position: relative;
  top: -150px;
  padding: 230px 22px 71px;
  color: #fff;
  background: #575757;
  overflow: scroll;
}
@media (max-width: 992px) {
  .section-jobs .section__col:last-of-type {
    padding: 22px;
    justify-content: flex-start;
    top: 0;
  }
}
@media (max-height: 576px) {
  .section-jobs .section__col:last-of-type {
    justify-content: flex-start;
  }
}
.section-jobs .section-jobs__title {
  margin-bottom: 25svh;
  max-width: 300px;
}
@media (max-width: 992px) {
  .section-jobs .section-jobs__title {
    margin-bottom: 0;
    padding-top: 32px;
  }
}
@media (max-width: 768px) {
  .section-jobs .section-jobs__title {
    max-width: 100%;
    padding-top: 16px;
  }
}
@media (max-height: 768px) {
  .section-jobs .section-jobs__title {
    margin-bottom: 0;
  }
}
.section-jobs .section-jobs__title h2 {
  margin-bottom: 70px;
  color: #575757;
  font-size: 40px;
  line-height: normal;
  font-weight: 900;
}
@media (max-width: 768px) {
  .section-jobs .section-jobs__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
}
@media (max-height: 768px) {
  .section-jobs .section-jobs__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
}
.section-jobs .section-jobs__title .section-jobs__description {
  color: #575757;
  line-height: normal;
}
.section-jobs .section-jobs__text h3 {
  margin-top: 60px;
  margin-bottom: 34px;
  font-size: 40px;
  font-weight: 900;
  line-height: normal;
}
.section-jobs .section-jobs__text h3:first-of-type {
  margin-top: 0;
}
@media (max-width: 768px) {
  .section-jobs .section-jobs__text h3 {
    font-size: 20px;
  }
}
.section-jobs .section-jobs__text p {
  line-height: normal;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.main-contact {
  height: 100%;
  width: calc(100vw - 134px);
  padding-top: 150px;
  padding-left: 105px;
  position: relative;
}

.main-contact .section-breadcrumb a {
  color: #c8164b;
}

.section-contact {
  min-height: 100%;
  background-color: #e82e65;
}
@media (max-width: 768px) {
  .section-contact {
    background-color: unset !important;
  }
  .main-contact .section-breadcrumb {
    font-size: 16px;
  }
}
.section-contact .section__col {
  padding-right: 22px;
  padding-left: 22px;
}
.section-contact .section__row {
  position: relative;
  z-index: 1;
}
.main-layer {
  position: absolute;
  left: 53px;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #f9f9f9;
}
.section-contact .section__row .layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(50% - (105px / 2));
  background-color: #f9f9f9;
  z-index: -1;
}
@media (max-height: 768px) {
  .section-contact .section__col {
    max-height: 100%;
  }
}
.section-contact .section__col:first-of-type {
  padding-left: 0;
  background-color: #f9f9f9;
  overflow: scroll;
  height: 100%;
}
@media (max-height: 576px) {
  .section-contact .section__col:first-of-type {
    padding-top: 96px;
  }
}
@media (max-width: 992px) {
  .section-contact .section__col:first-of-type {
    padding-top: 0;
  }
  .section-contact {
    background-color: transparent;
  }
}
@media (max-width: 1200px) {
  .section-contact .section__col:first-of-type {
    padding-left: 22px;
  }
}
.section-contact .section__col:last-of-type {
  flex-grow: 1;
  position: relative;
  top: -150px;
  padding: 22px 71px;
  background-color: #e82e65;
  color: #fff;
}

.section-contact .section__col:last-of-type .section__contact-text {
  margin-top: 128px;
}

@media (max-width: 1200px) {
  .section-contact .section__col:last-of-type {
    padding: 22px;
  }
}
@media (max-width: 992px) {
  .section-contact .section__col:last-of-type {
    padding: 22px;
    justify-content: flex-start;
    top: 0;
  }

  .section-contact .section__col:last-of-type .section__contact-text {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .main-contact {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 0;
    position: relative;
  }
}
/* @media (max-height: 576px) {
  .section-contact .section__col:last-of-type {
    justify-content: flex-start;
  }
} */
.section-contact .section-contact__title {
  margin-bottom: 25svh;
  max-width: 300px;
}
@media (max-width: 992px) {
  .section-contact .section-contact__title {
    margin-bottom: 0;
    padding-top: 32px;
  }
  .main-layer {
    display: none;
  }
}
@media (max-width: 768px) {
  .section-contact .section-contact__title {
    max-width: 100%;
    padding-top: 16px;
  }
}
@media (max-height: 768px) {
  .section-contact .section-contact__title {
    margin-bottom: 0;
  }
}
.section-contact .section-contact__title h2 {
  margin-bottom: 70px;
  color: #575757;
  font-size: 40px;
  line-height: normal;
  font-weight: 900;
}
@media (max-width: 768px) {
  .section-contact .section-contact__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
}
@media (max-height: 768px) {
  .section-contact .section-contact__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
}
.section-contact .section-contact__title .section-contact__description {
  color: #575757;
  line-height: normal;
}
.section-contact .section-contact__logo {
  margin-bottom: 51px;
}
@media (max-width: 992px) {
  .section-contact .section-contact__logo {
    margin-bottom: 22px;
  }
}
.section-contact .section__form form {
  display: flex;
  flex-direction: column;
}
.section-contact .section__form input,
.section-contact .section__form textarea,
.section-contact .section__form select {
  width: 100%;
  border: 1px solid #fff;
  background-color: #e82e65;
  color: #fff;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
}
.section-contact .section__form input:focus,
.section-contact .section__form textarea:focus .section-contact .section__form select:focus {
  outline: none;
}
.section-contact .section__form textarea:focus,
.section-contact .section__form select:focus {
  -webkit-focus-ring-color: transparent;
}
.section-contact .section__form input::placeholder,
.section-contact .section__form textarea::placeholder {
  color: #fff;
  opacity: 0.5;
}
.section-contact .section__form input::-ms-input-placeholder,
.section-contact .section__form textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
.section-contact .section__form .btn {
  margin: 0.5rem auto;
}

.section-contact .section__form select {
  min-height: 200px;
}

.section-contact .section__form select option {
  padding: 5px 7px;
}

.section-contact .section__form select option:checked {
  background-color: #fff !important;
  color: #e82e65 !important;
}

.section-contact .section__form select:focus option:checked {
  background-color: #fff !important;
  color: #e82e65 !important;
}

.section-contact .section__form select::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height for horizontal scrollbar */
}

/* Track (background) */
.section-contact .section__form select::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (thumb) */
.section-contact .section__form select::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
.section-contact .section__form select::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* Firefox scrollbar */
.section-contact .section__form select {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: #fff transparent; /* Thumb color and track color */
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us-hamburger span {
  background-color: #575757 !important;
  background-color: none;
}
.section-about-us .section-about-us__title .section-about-us__description {
  color: #575757;
  font-family: Graphik;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-about-us {
  color: #575757;
  font-family: Graphik;
}

.section-about-us .section__col {
  padding-right: 22px;
  padding-left: 22px;
  background: #7e7e7e;
}

.section-about-us .section__col:first-of-type {
  padding-left: 0;
  background-color: #f9f9f9;
}

@media (max-width: 1200px) {
  .section-about-us .section__col:first-of-type {
    padding-left: 22px;
  }
}

.section-about-us .section__col:last-of-type {
  flex-grow: 1;
  position: relative;
  min-height: 700px;
}

@media (max-width: 992px) {
  .section-about-us .section__col:last-of-type {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .section-about-us .section__col:last-of-type {
    min-height: 560px;
    overflow: hidden;
  }
}
@media (max-height: 576px) {
  .section-about-us .section__col:last-of-type {
    justify-content: flex-start;
  }
}
.about-us-paragraf {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .section-about-us .section-about-us__title h2 {
    font-size: 40px;
  }

  .section-about-us .section-about-us__title h2 {
    font-size: 40px !important;
  }
  .section-about-us .section__row .section__col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-about-us .about-us-second-container {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  .section-about-us .section-about-us__title {
    margin-bottom: 0;
    padding-top: 32px;
  }
}
@media (max-width: 768px) {
  .section-about-us .section-about-us__title {
    max-width: 100%;
    padding-top: 16px;
  }
}
@media (max-height: 768px) {
  .section-about-us .section-about-us__title {
    margin-bottom: 0;
  }
}
.section-about-us .section-about-us__title h2 {
  margin-bottom: 50px;
  color: #575757;
  font-size: 40px;
  line-height: normal;
  font-weight: 900;
}
/* @media (max-width: 768px) {
  .section-about-us .section-about-us__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
}
@media (max-height: 768px) {
  .section-about-us .section-about-us__title h2 {
    margin-bottom: 22px;
    font-size: 20px;
  }
} */
.section-about-us .section-about-us__title .section-about-us__description {
  color: white;
  line-height: normal;
}
.section-about-us .section-about-us__text h3 {
  margin-top: 60px;
  margin-bottom: 34px;
  font-size: 40px;
  font-weight: 900;
  line-height: normal;
}
.section-about-us .section-about-us__text h3:first-of-type {
  margin-top: 0;
}
@media (max-width: 768px) {
  .section-about-us .section-about-us__text h3 {
    font-size: 20px;
  }
}
.section-about-us .section-about-us__text p {
  line-height: normal;
}

/* Flags illustration */
.illustration-container {
  max-width: 600px;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container {
    max-width: 360px;
  }
}
.illustration-container .illustration-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 35px;
  column-gap: 35px;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .illustration-item {
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
.illustration-container .illustration-item.justify-content-center {
  margin-left: 25px;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .illustration-item.justify-content-center {
    margin-left: -5px;
  }
}
.illustration-container .illustration-item .illustration-logo {
  max-width: 130px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}
.illustration-container .illustration-item .illustration-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .illustration-item .illustration-logo {
    max-width: 85px;
  }
}
.illustration-container .illustration-item .illustration-flag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
}

.illustration-container .illustration-item .illustration-flag img {
  object-fit: contain;
  height: 100%;
}

@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .illustration-item .illustration-flag {
    width: 35px;
    height: 35px;
  }
}
.illustration-container .illustration-item .illustration-text {
  max-width: 240px;
  width: 100%;
  color: #fff;
  font-family: "Bradley Hand";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-wrap: break-word;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .illustration-item .illustration-text {
    max-width: 110px;
    font-size: 18px;
  }
}
.illustration-container .line {
  position: relative;
  background-color: #fff;
}
.illustration-container .line.line-vertical-sm {
  width: 3px;
  height: 86px;
  left: 38%;
  transform: rotate(-48.424deg);
  top: -25px;
  margin-bottom: -70px;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .line.line-vertical-sm {
    left: 40%;
    transform: rotate(-39.424deg);
  }
}

.illustration-container .line.line-vertical-md {
  left: 36%;
  transform: rotate(-42deg);
  top: -47px;
  margin-bottom: -93px;
  width: 3px;
  height: 142px;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .line.line-vertical-md {
    left: 37%;
    top: -36px;
    margin-bottom: -70px;
    transform: rotate(-20deg);
  }
}
.illustration-container .line.line-vertical-lg {
  left: 36%;
  transform: rotate(30deg);
  top: -40px;
  margin-bottom: -75px;
  width: 3px;
  height: 158px;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .line.line-vertical-lg {
    left: 39%;
    transform: rotate(23deg);
  }
}
.illustration-container .line.line-horizontal {
  top: 18.5px;
  width: 146px;
  height: 3px;
}
@media (max-width: 650px), (min-width: 992px) and (max-width: 1530px) {
  .illustration-container .illustration-hr-container {
    margin-left: 20px;
  }
}

@media (max-width: 370px) {
  .illustration-container {
    max-width: 290px;
  }

  .illustration-container .illustration-item.justify-content-center {
    margin-left: 40px;
  }

  .illustration-container .line.line-vertical-sm {
    left: 48%;
    transform: rotate(-35deg);
  }

  .illustration-container .line.line-vertical-md {
    left: 45%;
    transform: rotate(-20deg);
  }

  .illustration-container .line.line-vertical-lg {
    left: 47%;
  }

  .illustration-container .illustration-item .illustration-text {
    max-width: 100px;
  }
}
/*--------------------------------------------------------------
# Data Policy
--------------------------------------------------------------*/
.section-data-policy {
  min-height: calc(100svh - 150px);
}
.section-data-policy h4 {
  color: #e82e65;
}
.section-data-policy p {
  max-width: 90%;
}
.section-data-policy strong {
  font-weight: bolder;
}
/* @media (max-height: 768px) {
  .section-data-policy {
    padding-top: 121.5px;
  }
} */
@media (max-width: 1200px) {
  .section-data-policy {
    padding-top: 25.5px;
  }
}
.section-data-policy .section__col {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 1200px) {
  .section-data-policy .section__col {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (max-height: 768px) {
  .section-data-policy .section__col {
    max-height: 100%;
  }
}
.section-data-policy .section-data-policy__slider {
  position: relative;
  padding-bottom: 52.5px;
}
.section-data-policy .section-data-policy__slider .swiper {
  position: static;
}
.section-data-policy .section-data-policy__slider .swiper-button-prev,
.section-data-policy .section-data-policy__slider .swiper-button-next {
  top: unset;
  bottom: 11px;
  width: fit-content;
}
.section-data-policy .section-data-policy__slider .swiper-button-prev:after,
.section-data-policy .section-data-policy__slider .swiper-button-next:after {
  content: "";
  color: #575757;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  white-space: nowrap;
}
.section-data-policy .section-data-policy__slider .swiper-button-prev.swiper-button-disabled,
.section-data-policy .section-data-policy__slider .swiper-button-next.swiper-button-disabled {
  display: none;
}
.section-data-policy .section-data-policy__slider .swiper-button-prev {
  left: 22px;
}
.section-data-policy .section-data-policy__slider .swiper-button-prev:after {
  content: "< Back";
}
.section-data-policy .section-data-policy__slider .swiper-button-next {
  right: 22px;
}
.section-data-policy .section-data-policy__slider .swiper-button-next:after {
  content: "Next >";
}
.section-data-policy .section-data-policy__text {
  color: #575757;
  padding-right: 105px;
}
@media (max-width: 768px) {
  .section-data-policy .section-data-policy__text {
    padding-right: 0;
  }
}
.section-data-policy .section-data-policy__text h4 {
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
}
.section-data-policy .section-data-policy__text h4.section__text--color {
  color: #e82e65;
}

/*--------------------------------------------------------------
# Lightbox
--------------------------------------------------------------*/
.glightbox-clean .gprev,
.glightbox-clean .gnext,
.glightbox-clean .gclose {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e82e65;
  background-repeat: no-repeat;
  transition: all 0.1s;
}
.glightbox-clean .gprev:not(.gclose) svg,
.glightbox-clean .gnext:not(.gclose) svg,
.glightbox-clean .gclose:not(.gclose) svg {
  display: none;
}
.glightbox-clean .gprev:hover,
.glightbox-clean .gnext:hover,
.glightbox-clean .gclose:hover {
  transform: scale(1.1);
  background-color: #e82e65;
}
.glightbox-clean .gprev:active,
.glightbox-clean .gnext:active,
.glightbox-clean .gclose:active {
  transform: scale(1);
}
.glightbox-clean .gprev {
  background-image: url("../../../website/img/arrow-left-light.svg");
  background-position: center;
  background-position: 17px center;
}
.glightbox-clean .gnext {
  background-image: url("../../../website/img/arrow-right-light.svg");
  background-position: center;
  background-position: 20px center;
}
.glightbox-clean .gclose {
  opacity: 1;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.main--homepage-line {
  animation: bounce 1s infinite;
}
.right-col-image-container .pulse-effect {
  position: absolute;
  left: -9px;
  top: 20%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.4);
  animation: pulse 1.5s infinite;
}

@media (max-width: 768px) {
  .right-col-image-container .main--homepage-line {
    width: 40px;
    height: 40px;
  }

  .right-col-image-container .pulse-effect {
    height: 40px;
    width: 40px;
    left: 0;
  }

  .section-homepage .right-col-image.top {
    top: 30px;
    left: 0;
  }

  .section-homepage .right-col-image.center {
    top: 37%;
    left: 70%;
  }

  .section-homepage .right-col-image.bottom {
    bottom: 30px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
  .image-container {
    height: 94vh;
  }
}
@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
  .image-container {
    height: 94vh;
  }
}
@media only screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1366px) and (max-height: 1366px) {
  .image-container {
    height: 94vh;
  }
}
.aside.active .aside__menu-language a {
  color: #575757;
}

.slider-image-one {
  margin-top: 26px;
}
.aside .aside__menu-button.active span {
  background-color: #575757 !important;
}

.frame.laptop {
  width: 425px;
  height: 250px;
}

.frame.laptop .uploaded-image {
  width: 315px;
  height: 210px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.frame.tablet {
  width: 250px;
  height: 180px;
}

.frame.tablet .uploaded-image {
  width: 223px;
  height: 160px;
  left: 50%;
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
}

.frame.mobile {
  width: 130px;
  height: 250px;
}

.frame.mobile .uploaded-image {
  height: 239px;
  width: 110px;
  position: absolute;
  top: 6px;
  left: 50%;
  overflow: hidden;
  border-radius: 10px;
  transform: translateX(-50%);
}

.frame img {
  width: 100%;
  height: 100%;
}

.frame .uploaded-image img {
  object-fit: cover;
}

.frame > img {
  position: absolute;
  left: 0;
  z-index: 100;
}

.frame.tablet .uploaded-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .section-projects .section-projects__slider .swiper-slide {
    max-height: 90px;
  }

  .image-stack {
    width: 250px;
    height: 200px;
  }

  .frame.laptop {
    height: 150px;
    width: 240px;
  }

  .frame.laptop .uploaded-image {
    width: 185px;
    height: 125px;
  }

  .frame.tablet {
    width: 145px;
    height: 110px;
  }

  .frame.tablet .uploaded-image {
    top: 7px;
    height: 99px;
    width: 135px;
  }

  .frame.mobile {
    width: 75px;
    height: 150px;
  }

  .frame.mobile .uploaded-image {
    width: 66px;
    height: 143px;
    top: 3px;
  }
}

/* Contact image boxes */
.section-contact .section-contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-contact .section-contact__title-two h2 {
  color: #575757;
  font-size: 40px;
  line-height: normal;
  font-weight: 900;
}
@media (max-width: 576px) {
  .section-contact .section-contact__title-two h2 {
    font-size: 32px;
  }
}
.section-contact .image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-radius: 15px; */
  overflow: hidden;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}
@media (max-width: 576px) {
  .section-contact .image-container:last-child {
    margin-top: 23px;
  }
}
.section-contact .shadow-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  text-align: center;
}
.section-contact .shadow-box p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #fff;
  text-align: start;
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .section-contact .shadow-box p {
    font-size: 10px;
  }
}
.section-contact .shadow-box p:last-of-type {
  margin-bottom: 27px;
}
@media (max-width: 576px) {
  .section-contact .shadow-box p:last-of-type {
    margin-bottom: 5px;
  }
}
.section-contact .shadow-box iframe {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .section-contact .shadow-box iframe {
    border-radius: 0;
    height: 100px;
  }
}
/* Default slider */
.section-default__slider {
  position: relative;
}
.section-default__slider .swiper {
  width: 100%;
  height: auto;
}
.section-default__slider .swiper-button-prev,
.section-default__slider .swiper-button-next {
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}
.section-default__slider .navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}
.section-default__slider .swiper-button-prev::after,
.section-default__slider .swiper-button-next::after {
  content: "";
}

.outline-none:focus {
  outline: none;
}

.section-default-container .section-default-image-container {
  max-width: 720px;
}

.section-default-image-container {
  margin-bottom: 30px !important;
}
